<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="panda_arm.xacro"/>
  <xacro:include filename="hand.xacro"/>
  <xacro:include filename="panda.gazebo.xacro" />
  <xacro:include filename="panda.transmission.xacro" />
  
  <xacro:panda_arm description_pkg="panda_description" />
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" description_pkg="panda_description"/>
  <xacro:panda_gazebo robot_name="panda" />
  <xacro:panda_transmission robot_name="panda" />
</robot>
