  <?xml version="1.0"?>
  <model>
    <name>panda</name>
    <version>1.0</version>
    <sdf>urdf/panda.urdf</sdf>
    <author>
      <name>Sebastian Wallkotter</name>
      <email>sebastian@wallkoetter.net</email>
    </author>
    <description>
      A model of the Franka Emika Panda robot with attached gripper. The model is a 
      modified version of the original .xacro files, converted into .urdf and edited
      to facilitate usage within Gazebo.
    </description>
  </model>